@import 'default'

.search-field-wrp
  width: 50%
  margin: 0 auto 30px auto
  form > *
    padding: 16px 12px
    font-size: 20px
    @include defaultBlock
  input
    width: 70%
    margin-right: 20px
  button
    cursor: pointer
    &:hover
      color: $primaryLight
      background-color: $primaryDark
    &.disabled
      @include disable

.results-list_item
  width: 30%
  display: flex
  align-items: center
  justify-content: space-between
  margin: 0 auto 70px auto
  padding: 15px
  border: 2px solid $primaryDark
  border-radius: 15px
  cursor: pointer
  overflow-wrap: break-word
  .results-item_img
    width: 100px
    height: auto
    border-radius: 50%
.results-item_meta
  font-size: 14px
  padding-left: 20px
  flex-grow: 1
  text-overflow: ellipsis
  .title
    font-size: 1.5em
  .subtitle
    font-size: 1.2em

