<div class="search-field-wrp">
  <form
    ngNativeValidate
    (submit)="showRepositories(searchField.value)">
    <input placeholder="Type your request here"
           type="text"
           required="required"
           value="{{searchCacheQuery}}"
           #searchField>
    <button type="submit"
            [ngClass]="{'disabled': !searchField.value}">Let's search!</button>
  </form>
</div>

<div *ngIf="loading">Loading....</div>
<div *ngIf="emptyResult">Sorry, but nothing was found</div>

<ul class="results-list">
  <li class="results-list_item" *ngFor="let repo of repos">
    <img class="results-item_img" src="{{repo.owner.avatar_url}}">
    <div class="results-item_meta">
      <p class="title">{{repo.name}}</p>
      <p class="subtitle">{{repo.description}}</p>
    </div>
  </li>
</ul>

<app-search-pagination
  (paginatePage)="showRepositories(searchField.value, $event)"
  [repos]="repos">
</app-search-pagination>
