@import 'default'

.search-pagination
  margin: auto
  .pagination-item
    width: 10%
    padding: 10px
    margin-right: 30px
    cursor: pointer
    @include defaultBlock
    &:hover
      background: transparent
      border: 2px solid $primaryDark
    &.disabled
      @include disable
